#nav{
    background-color: var(--main);
    box-shadow: 0 4px 30px #f5a65b1a !important;
    z-index: 99;
}

.navbar-brand, .nav-link{
    color: var(--quar);
}

.navbar-brand:hover, .nav-link:hover{
    color: var(--ter);
}

.nav-sec , .scrollmenu{
    background-color: var(--quar) !important;
    padding-top: 7px;
    margin-top: 65px;
    z-index: 1;
}

.nav-sec-btn{
    color: var(--main);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav2{
    box-shadow: 20px 4px 30px rgba(58, 12, 163, 0.5) !important;
}