#nav{
    background-color: var(--main);
    box-shadow: 0 4px 30px #f5a65b1a !important;
    z-index: 99;
}

.navbar-brand, .nav-link{
    color: var(--quar);
}

.navbar-brand:hover{
    font-weight: bold;
    color: var(--ter);
}

.nav-link:hover{
    font-weight: bold;
    background-color: var(--ter);
    color: var(--quar);
}

.buttonUser{
    background-color: var(--main) !important;  
}

.buttonLogin{
    background-color: var(--main) !important;  
    color: var(--quar);
}

.buttonLogin:hover{
    font-weight: bold;
    color: var(--ter); 
}

.buttonOffcanvas{
    color: var(--quar)
}

.buttonOffcanvas:hover{
    background-color: white !important; 
    color: var(--ter); 
}

.linkFooter{
    background-color: var(--main) !important;  
    color: var(--quar);
}

.linkFooter:hover{
    color: var(--ter);
}

.nav-sec , .scrollmenu{
    background-color: var(--quar) !important;
    padding-top: 7px;
    margin-top: 65px;
    z-index: 20;
}

.nav-sec-btn{
    color: var(--main);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav2{
    box-shadow: 20px 4px 30px rgba(58, 12, 163, 0.5) !important;
}

.active{
    font-weight: bold;
    background-color: var(--ter);
    color: var(--quar);
}