div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;

    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    /* background-color: #777; */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--ter);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: var(--quar); */
    /*  border-top: solid 1px var(--main); */

}