:root{
    --main:#F1FAEE;
    --sec:#000000;
    --ter:#3A0CA3;
    --quar:rgb(245, 166, 91);

}

body{
background-color: var(--main);
color: var(--sec);


}

nav{
    background-color: var(--main);
}

.navbar-brand, .nav-link{
    color: var(--quar);
}

.navbar-brand:hover, .nav-link:hover{
    color: var(--ter);
}


.btn-quar{
    color: var(--quar);
    border:1px solid var(--quar) ;
}

.btn-quar:hover{
    background-color: var(--quar);
    color: var(--main);
}

h1{
    color: var(--quar);
    /* From https://css.glass */
background: rgba(245, 166, 91, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(245, 166, 91, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
padding: 30px;

}

label{
    color: var(--quar);
}

.badge{
    background-color: #3A0CA3;
    margin-top: 15px;
    margin-bottom: 15px;
}